{% extends 'base.html.twig' %}

{# titre de la page #}
{% block title %} Accueil | 2PRI {% endblock %}

{# fichiers css #}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('accueil') }}
{% endblock %}

{# le corp de la page #}
{% block body %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-5 text-center">Bienvenue sur la Plateforme de Partage de Ressources en Informatique</h1>
            <p class="lead text-center">
                Vous êtes etudiant en informatique, enseignant, developpeur ou expert, alors vous êtes au bonne endroit.
                Ce site est une plateforme de partage de ressources informatiques entre les pationnés du WEB.
            </p>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 categorie">
    
            {% for cat in cats %}    
                <div class="col mb-4 masque">
                    <div class="card">
                        <a href="{{path('categorie', {'id': cat.id})}}"> <img src="{{vich_uploader_asset(cat, 'imageFile')}}" class="card-img-top cardImg" alt=""> </a>
                        <div class="card-body">
                            <a href="{{path('categorie', {'id': cat.id})}}">
                                <h3 class="card-title text-center">{{cat.designation}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for supercat in supercats %}    
                <div class="col mb-4 masque">
                    <div class="card">
                        <a href="{{path('supercategorie', {'titre': supercat.designation, 'id': supercat.id})}}"> <img src="{{vich_uploader_asset(supercat, 'imageFile')}}" class="card-img-top cardImg" alt=""> </a>
                        <div class="card-body">
                            <a href="{{path('supercategorie', {'titre': supercat.designation, 'id': supercat.id})}}">
                                <h3 class="card-title text-center">{{supercat.designation}}</h3>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    
        </div>
    </div>

{% endblock %}

{# fichiers js #}
{% block javascripts %}
    {{parent()}}
    {{encore_entry_script_tags('accueil')}}
{% endblock %}